.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
    /* background-color: #4f005f; */
    background: linear-gradient(
    90deg,
    #4f005f 0%,
    #a858b8 100%
  );
    border-radius: 10px;
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
  }